[Unit]
Description=Apply screen filter on schedule

[Timer]
OnCalendar=*-*-* 06:00:00
OnCalendar=*-*-* 18:30:00
OnCalendar=*-*-* 21:29:40
OnCalendar=*-*-* 21:30:00

[Install]
WantedBy=timers.target
