@import "colors.css";

window {
  border-radius: 0;
  border: 2px solid @outline;

  background-color: @surface-container;
}

label {
  font-family: 'Maple Mono NF';
  font-size: 11pt;

  color: @primary;
}

image {
  color: @primary;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @secondary;
}
