@import "colors.css";

window#osd {
  border-radius: 10px;
  border: none;
  background: alpha(@surface_container, 0.8);

  #container {
    margin: 16px;
  }

  image,
  label {
    color: @primary;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 1;
  }

  progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }
  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(@theme_fg_color, 0.5);
  }
  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @primary_fixed_dim;
  }
}
