* {
  /* font-family: "JetBrainsMono NF"; */
  font-family: "MonoLisa Nerd Font Mono";
}

/* Code comment style */
/* Sometimes it is mtk4 and mtk3 becomes the highlight of the strings
 * and vice versa
 */
.mtk3 {
  color: #008c7d !important;
  font-style: italic !important;
}

/* Name of the current tab at the top*/
.single-tab.title-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.composite.title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-items: center !important;
}

.composite.title h2 {
  font-weight: bold !important;
  font-size: 12px !important;
  text-transform: uppercase;
  color: #bc9abc !important;
}
