:vars {
  --foreground: #e3e2e2;
  --background: #121414;
  --cursor: #e3e2e2;
  --primary: #b9c9ce;
  --source: #0c282e;
  --primary-fixed: #d4e5ea;
  --on-primary: #243337;
  --secondary: #bfc8cb;
  --on-secondary: #293234;
  --tertiary: #b2cbd2;
  --on-tertiary: #1c3439;
  --surface: #121414;
  --on-surface: #e3e2e2;
  --surface-container: #1f2020;
  --surface-bright: #38393a;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #919191;
  --shadow: #000000;
  --red: #debfc1;
  --red-dim: #cd9da0;
  --green: #bbcabc;
  --green-dim: #9eb4a0;
  --yellow: #c4c9b1;
  --yellow-dim: #adb493;
  --blue: #c2c6d6;
  --blue-dim: #a3aac2;
  --magenta: #d1c2d2;
  --magenta-dim: #bba5bc;
  --cyan: #b8cacc;
  --cyan-dim: #9ab4b7;
  --white: #b8cacd;
}
