#date-container {
    /* margin-top: 14em; */
    /* margin-right: 9em; */
    margin-bottom: 4em;
}

#day-label {
    font-family: 'Midorima - Personal Use', monospace;
    font-size: 5em;
    color: var(--primary-fixed);
    padding: 5px 10px;
    border-radius: 10px;
}

#date-label {
    font-size: 1.5em;
    font-weight: 900;
    color: var(--primary-fixed);
    opacity: 0.7;
}
