#systray {
    /* margin-right: 25px; */
    background-color: inherit;
    padding: 0 8px;
    color: var(--on-surface);
}

#systray.invert {
    background-color: var(--surface);
    border-radius: 12px;
}

menu {
    border: solid 1px;
    border-radius: 5px;
    color: var(--on-surface);
    border-color: var(--surface);
    background-color: var(--surface-container);
    padding: 6px;
    transition: all 100ms ease-in-out;
}

menu > separator {
    background-color: var(--outline);
    margin: 10px 70px;
    /* min-height: 1px; */
}

/* Make all menu items rounded and padded, even in submenus */
menu menuitem {
    border-radius: 3px;
    padding: 6px 10px;
}

/* Hover effect for all menu items, nested included */
menu menuitem:hover {
    background-color: var(--primary);
}

/* Label color change on hover for all levels */
menu menuitem:hover > label,
menu menuitem:hover > box label {
    color: var(--surface-container);
}

/* Style labels in all menuitems */
menu menuitem label {
    font-weight: bold;
}
