#workspaces-container {
    margin-left: 25px;
    /* background-color: red; */
}

#workspaces > button {
    margin: 14px 5px;
    font-size: 5px;
    min-width: 25px;
    min-height: 11px;
    background-color: var(--primary-fixed);
    color: var(--primary-fixed);
    opacity: 1;
    border-radius: 5px;
    padding: 0px;
    transition:
        color 0.12s ease,
        background 0.12s ease,
        border 0.12s ease,
        min-width 0.1125s ease,
        min-height 0.1125s ease;
}

#workspaces > button.active {
    background-color: var(--primary);
    color: var(--background);
    min-width: 70px;
    border-radius: 5px;
    transition: min-width 0.12s ease;
    opacity: 1;
    font-size: 15px;
}

#workspaces > button.empty {
    background-color: var(--outline);
    color: var(--outline);
    opacity: 0.4;
}

#workspaces > button:not(.active):hover {
    background: var(--on-secondary);
    color: var(--on-secondary);
}

#workspaces > button.urgent {
    background: #ff0000;
    color: #ff0000;
    opacity: 1;
}
