@import 'colors.css';
@define-color active @color6;

* {
    font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-size: 101%;
}

window#waybar {
    background: @background;
    color: @foreground;
    border: 1px solid #3e4142;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

tooltip {
    font-size: 125%;
    border-radius: 8px;
    border: 1px solid #3e4142;
}

/* Module groups */
.modules-left,
.modules-right {
    margin: 4px;
    padding: 4px 2px;
    border-radius: 6px;
    background: @surface;
}

.modules-right {
    background: darker(@background);
}

#custom-launcher {
    margin: 10px;
}

/* Modules */
#gcpu,
#memory,
#disk,
#cpu,
#tray,
#audio,
#power,
#brightness,
#custom-weather,
#custom-updates,
#custom-github,
#custom-recorder,
#custom-hotspot,
#custom-notifications,
#custom-vpn,
#sound,
#connection,
#cnoti,
#together,
#privacy,
#priv,
#submap {
    margin: 3px 1px;
    padding: 6px 1px;
    border-radius: 6px;
}

/* Workspaces */
#workspaces {
    margin: 4px 5px;
    padding: 2px;
    border-radius: 6px;
    /* background: @surface_container_low; */
}

#workspaces button label {
    font-size: 135%;
}

#gcpu,
#custom-github,
#memory,
#disk,
#together,
#submap,
#privacy,
#custom-weather,
#custom-recorder,
#connection,
#cnoti,
#brightness,
#power,
#custom-updates,
#tray,
#audio,
#priv,
#sound {
    /* background: @surface_container_low; */
    background: alpha(darker(@primary), 0.1);
    margin: 5px 4px;
    /* padding: 2px 0; */
}

#workspaces button {
    color: @outline;
    background: transparent;
    padding: 4px 0;
    margin: 1px 0;
    border-radius: 4px;
    transition:
        margin 150ms ease-in-out,
        padding 150ms ease-in-out,
        background-color 0.3s ease,
        color 0.3s ease;
}

#workspaces button.persistent {
    color: @outline;
}

#idle_inhibitor {
    margin-top: 15px;
}

#workspaces button.empty {
    color: @outline_variant;
}

#workspaces button.active {
    background: @primary_container;
    color: @on_primary_container;
    padding: 15px 0px;
}

#workspaces button.urgent {
    font-weight: bold;
    color: @error;
}

/* Clock, battery, CPU info, etc. */
#clock {
    font-weight: bold;
    font-size: 115%;
    color: @outline;
    padding: 6px 4px;
}

#battery,
#battery.discharging.warning,
#battery.discharging.critical {
    padding: 6px 4px;
    border-radius: 6px;
    margin: 2px 0;
    font-weight: bold;
}

#battery.good {
    color: #82A55F;
}

#pulseaudio.mic {
    background: @on_surface;
    color: @background;
    padding: 6px 4px;
    border-radius: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background-color: transparent;
    box-shadow: none;
}

/* Sliders */
#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 6px;
    min-height: 60px;
    background: @outline_variant;
    border-radius: 4px;
    margin: 4px 0;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    background: @primary;
    border-radius: 4px;
}

/* Animations */
@keyframes blink-active {
    to {
        background-color: @active;
        color: @foreground;
    }
}

@keyframes blink-red {
    to {
        background-color: #c64d4f;
        color: @foreground;
    }
}

@keyframes blink-yellow {
    to {
        background-color: #cf9022;
        color: @foreground;
    }
}
