* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 18px;
  min-height: 10px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  /* background: #242424; */
  border-radius: 7px;
  border: 2px solid rgba(169, 177, 214, 0.5);
}

#battery,
#custom-wlogout,
#idle_inhibitor,
#custom-notifications,
#custom-separator,
#temperature,
#clock,
#workspaces,
#custom-rofi,
#tray,
#pulseaudio,
#backlight,
#network,
#custom-right,
#pulseaudio-slider,
#custom-left {
  color: @main-color;
  background: #242424;
  margin: 4px 0px 4px 0px;
  opacity: 1;
  border: 0px solid #181825;
}

tooltip {
  /* background: @tool-bg; */
  /* color: @tool-color; */
  /* border-radius: 22px; */
  /* border-width: 2px; */
  /* border-style: solid; */
  /* border-color: #11111b; */

  background: #242424;
  color: #aaaaaa;
  border-radius: 7px;
  border-width: 0px;
}

#workspaces {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: #aaaaaa;
  /* animation: gradient_f 20s ease-in infinite; */
  /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
}

#workspaces button.persistent {
  color: #fff;
}

#workspaces button.active {
  /* background: #da025d; */
  /* color: #ddbf98; */
  color: #da025d;
  /* background: #ddbf98; */
  /* margin-left: 3px; */
  /* padding-left: 3px; */
  /* padding-right: 3px; */
  /* margin-right: 3px; */
  /* animation: gradient_f 20s ease-in infinite; */
  /* transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
}

/* #workspaces button.focused { */
/*   color: #64727d; */
/*    box-shadow: inset 0 -3px #ffffff; */
/* } */

#workspaces button:hover {
  /* background: #b16286; */
  color: #b16286;
  border: none;
}

#custom-rofi {
  color: #38ef7d;
  padding-left: 0px;
  padding-right: 10px;
}

#temperature {
  color: #eebd35;
  padding-left: 0px;
  padding-right: 19px;
}

#temperature.critical {
  color: #ff0000;
  padding-left: 0px;
  padding-right: 19px;
}

#backlight {
  color: #ff8b49;
  padding-left: 0px;
  padding-right: 19px;
}

#pulseaudio {
  color: #ea879d;
  padding-left: 0px;
  /* padding-right: 19px; */
}

/* Battery colors */

#battery {
  color: #458588;
  padding-left: 0px;
  padding-right: 0px;
}

@keyframes blink {
  to {
    background-color: #242424;
    color: #aaaaaa;
  }
}

#battery.critical:not(.charging):not(.plugged) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #ff4545;
}

#battery.warning:not(.charging) {
  /* background-color: #FF875A; */
  color: #ff875a;
}

#tray {
  padding-left: 0px;
  padding-right: 19px;
}

#network {
  padding-left: 0px;
  padding-right: 19px;
}

#clock {
  color: #73b580;
  padding-left: 0px;
  padding-right: 0px;
}

#custom-right {
  margin-right: 9px;
  padding-right: 3px;
  border-radius: 0px 22px 22px 0px;
  /* border-radius: 22px 0px 0px 22px; */
}

#custom-left {
  margin-left: 9px;
  padding-left: 3px;
  border-radius: 22px 0px 0px 22px;
}

#pulseaudio-slider {
  /* border-radius: 0px 10px 10px 0px; */
  margin-left: 0px;

  padding-left: 10px;
  padding-right: 15px;
  min-width: 120px;
}

#pulseaudio-slider slider {
  box-shadow: 0 0 2px #1f1e1c;
  border-radius: 50%;
  background-color: #b16286;
}

#pulseaudio-slider trough {
  min-height: 10px;
  border-radius: 5px;
  background-color: rgb(142, 145, 143);
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
  background-color: #b16286;
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: white;
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  background: #242424;
  color: #aaaaaa;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
