@define-color foreground #E9F2F1;
@define-color background #060006;
@define-color cursor #B4B5BD;

@define-color color0 #060006;
@define-color color1 #485540;
@define-color color2 #7F7888;
@define-color color3 #498B97;
@define-color color4 #B5C347;
@define-color color5 #E7CAD0;
@define-color color6 #C1DBD8;
@define-color color7 #D8E5E3;
@define-color color8 #97A09F;
@define-color color9 #485540;
@define-color color10 #7F7888;
@define-color color11 #498B97;
@define-color color12 #B5C347;
@define-color color13 #E7CAD0;
@define-color color14 #C1DBD8;
@define-color color15 #D8E5E3;

@define-color shadow #000000;
