* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  /* background: rgba(21, 18, 27, 0); */
  /* background: rgba(255, 255, 255, 0.15); */
  /* background: rgba(200, 200, 200, 0.2); */
  /* background: rgba(0, 0, 0, 0.60); */
  background: rgba(24, 24, 27, 0.80);
  border-radius: 10px;
  /* border: 1px solid #cdd6f4; */
  color: #f6f7fc;
}

tooltip {
  background: rgba(24, 24, 27, 0.70);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces button {
  padding: 7px;
  color: #f6f7fc;
  margin-right: 5px;
}

#workspaces button.persistent {
  color: #f6f7fc;
}

#workspaces button.empty {
  /* color: #1a1a1a; */
  color: rgba(246, 247, 252, 0.4);
}

#workspaces button.active {
  /* color: #000000; */
  /* background: #a6e3a1; */
  /* background: #11111b; */
  color: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  /* background: #11111b; */
  /* color: #cdd6f4; */
  color: #11111b;
  background: none;
  border-radius: 10px;
}

#custom-launch_wofi,
#custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_kitty,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight {
  background: rgba(21, 18, 27, 0);
  opacity: 1;
  padding: 0px 8px;
  margin: 0px 3px;
  border: 0px;
}

#temperature.critical {
  color: #e92d4d;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_wofi,
#custom-launch_kitty,
#custom-weather {
  margin-left: 0px;
  border-right: 0px;
  font-size: 24px;
  margin-right: 20px;
}

#custom-launch_firefox,
#custom-launch_kitty {
  font-size: 20px;
}
