/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Clipboard Config - Clipboard */

@import "~/.config/rofi/material-you.rasi"

window {
  height: 55%;
}
/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: "Search clipboard";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 6;
}
