@import "colors.css";

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.5);
}

button {
  border-radius: 15px;
  border-color: @background;
  margin: 5px;
  text-decoration-color: #ffffff;
  color: @outline;
  background-color: @surface_container_low;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  background-color: @primary_fixed_dim;
  color: @on_primary_fixed;
  outline-style: none;
}

/* Adjust the size of the icon or content inside the button */
button span {
  font-size: 1.2em; /* Increase the font size */
}

#lock {
  background-image: image(url("./icons/lock.png"));
}
#lock:hover,
#lock:focus {
  background-image: image(url("./icons/lock-hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}
#logout:hover,
#logout:focus {
  background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
  background-image: image(url("./icons/sleep.png"));
}
#suspend:hover,
#suspend:focus {
  background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}
#shutdown:hover,
#shutdown:focus {
  background-image: image(url("./icons/power-hover.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}
#reboot:hover,
#reboot:focus {
  background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover,
#hibernate:focus {
  background-image: image(url("./icons/hibernate-hover.png"));
}
