/* Bar colors */

/* NOTE: For a solid background */

/* @define-color bar-bg #242424; */
/* @define-color border-color rgba(169, 177, 214, 0.5); */

/* NOTE: For a transparent background */

@define-color bar-bg rgba(0, 0, 0, 0);
@define-color border-color rgba(0, 0, 0, 0);




@define-color main-bg #242424;
/*  earch element's background */
@define-color main-fg white;
/* each element's foreground */

@define-color tooltip-label #ebdbb2;

/* border around the whole bar */

/* Workspaces colors */
@define-color workspaces-non-empty #73739c;
@define-color workspaces-empty #383857;
@define-color workspaces-focused #73b580;
@define-color workspaces-urgent #ff0000;
@define-color workspaces-hover #b16286;
@define-color wb-act-bg #da025d;
@define-color wb-act-fg #ddbf98;
@define-color wb-hvr-bg #b16286;
@define-color wb-hvr-fg #242424;

/* MODULES COLORS */

/* NOTE: To have the same color, apply the desired color to a variable
*   call that variable when you define the other colors
*   ex: @define-color pulseaudio-color temp-color;*/

/* Idle inhibitor colors */
@define-color idle-inhibitor-color #ff0000; /* Not set */

/* Temperature and backlight colors */
@define-color temp-color #eebd35;
@define-color temp-critical-color #ff0000;
@define-color backlight-color #ff8b49;

/* Pulseaudio colors */
@define-color pulseaudio-color #ea879d;
@define-color slider-bg rgb(142, 145, 143);
@define-color slider-fg #b16286;

/* Clock colors */
@define-color clock-color #73b580;

@define-color menu-color #38ef7d;

/* Battery colors */
@define-color battery-color #458588;
@define-color battery-warning-color #ff875a;
@define-color battery-critical-color #ff4545;


/* Player colors */
@define-color player-playing #73b580;
@define-color player-paused #73739c;
