/*
 * Noir Theme Colors
 * Monochrome theme with shades of grey, black, and white
 */
@define-color background #131313;
@define-color on_background #ffffff;
@define-color surface #1e1e1e;
@define-color on_surface #ffffff;
@define-color surface_variant #2a2a2a;
@define-color on_surface_variant #cccccc;
@define-color primary #ffffff;
@define-color on_primary #000000;
@define-color primary_container #333333;
@define-color on_primary_container #ffffff;
@define-color secondary #cccccc;
@define-color on_secondary #000000;
@define-color secondary_container #444444;
@define-color on_secondary_container #ffffff;
@define-color tertiary #aaaaaa;
@define-color on_tertiary #000000;
@define-color tertiary_container #555555;
@define-color on_tertiary_container #ffffff;
@define-color error #888888;
@define-color on_error #000000;
@define-color error_container #666666;
@define-color on_error_container #ffffff;
@define-color outline #777777;
@define-color outline_variant #555555;
@define-color surface_container_low #0d0d0d;
@define-color surface_container #2a2a2a;
@define-color surface_container_high #353535;
@define-color surface_container_highest #404040;
@define-color surface_bright #4a4a4a;
@define-color surface_dim #0f0f0f;
@define-color scrim #000000;
@define-color shadow #000000;
@define-color inverse_surface #e6e6e6;
@define-color inverse_on_surface #2a2a2a;
@define-color inverse_primary #ffffff;
@define-color primary_fixed #ffffff;
@define-color on_primary_fixed #000000;
@define-color primary_fixed_dim #cccccc;
@define-color on_primary_fixed_variant #333333;
@define-color secondary_fixed #cccccc;
@define-color on_secondary_fixed #000000;
@define-color secondary_fixed_dim #aaaaaa;
@define-color on_secondary_fixed_variant #444444;
@define-color tertiary_fixed #aaaaaa;
@define-color on_tertiary_fixed #000000;
@define-color tertiary_fixed_dim #888888;
@define-color on_tertiary_fixed_variant #555555;
@define-color red #888888;
@define-color green #888888;
@define-color yellow #aaaaaa;
@define-color blue #777777;
@define-color magenta #999999;
@define-color cyan #bbbbbb;
@define-color white #ffffff;