/*
 * GTK Colors for Noir Theme
 */

@define-color accent_color #d0d0d0;
@define-color accent_fg_color #1a1a1a;
@define-color accent_bg_color #d0d0d0;
@define-color window_bg_color #0f0f0f;
@define-color window_fg_color #f0f0f0;
@define-color headerbar_bg_color #0f0f0f;
@define-color headerbar_fg_color #f0f0f0;
@define-color popover_bg_color #0f0f0f;
@define-color popover_fg_color #f0f0f0;
@define-color view_bg_color #1e1e1e;
@define-color view_fg_color #f0f0f0;
@define-color card_bg_color #1e1e1e;
@define-color card_fg_color #f0f0f0;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;