@import '../../colors.css';

/* Main Colors */
/* @define-color background @surface_container; */
/* @define-color background alpha(@surface_container, 0.95); */
@define-color foreground @primary;
@define-color battery-warning-color #ff875a;
@define-color battery-critical-color #ff4545;

/* Base Styling */
* {
    font-family: 'JetBrainsMono Nerd Font Propo';
    font-weight: bold;
    min-height: 0;
    border: 1px solid transparent;
    font-size: 101%;
}

/* Window Styling */
window#waybar {
    background-color: @background;
    border-radius: 0px;
    color: @foreground;
    border-bottom: 1px solid alpha(@outline, 0.6);
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Tooltip Styling */
tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label {
    color: @foreground;
}

#privacy {
    margin: 7px 0;
    padding: 0px 10px;
    border-radius: 5px;
    min-height: 2px;
    color: @shadow;
    background-color: #f27e07;
}

/* Workspaces Styling */
#workspaces {
    padding: 4px 2px;
    opacity: 1;
}

#workspaces button {
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.1s linear;
    color: alpha(@primary, 0.9);
}

#workspaces button.urgent {
    color: red;
}

#workspaces button.empty {
    color: @foreground;
    opacity: 0.5;
}

#workspaces button.visible {
    /* color: alpha(@yellow_value, 0.8); */
    /* color: darker(@primary); */
    color: @background;
    background-color: @primary;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.1s linear;
}

#workspaces button:hover:not(.visible) {
    color: @foreground;
    background: none;
    border-radius: 10px;
    opacity: 0.6;
}

/* Battery Indicator */
@keyframes blink {
    to {
        background-color: @background;
        color: @foreground;
    }
}

/* Module Styling */
#custom-pacman,
#custom-swaync,
#custom-wlogout,
#custom-wallpaper_change,
#custom-notification,
#custom-menu,
#custom-separator,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#network,
#tray,
#temperature,
#pulseaudio,
#idle_inhibitor,
#backlight {
    opacity: 1;
    padding: 10px 5px 10px 5px;
    margin: 0 0 0 12px;
}

#battery {
    color: black;
    background-color: @green_container;
    border-radius: 5px;
    padding: 5px 12px;
    margin: 7px 0px;
}

#battery.critical:not(.charging):not(.plugged) {
    background-color: @red_container;
    color: white;
}

#battery.warning:not(.charging) {
    background-color: @tertiary_container;
    color: white;
}


#custom-notification:hover,
#custom-wallpaper_change:hover,
#pulseaudio:hover,
#idle_inhibitor:hover,
#custom-wlogout:hover {
    color: @tertiary;
    transition-property: color;
    transition-duration: 0.3s;
}

#custom-separator {
    padding: 0;
}

/* Temperature Warning */
#temperature.critical {
    color: #e92d4d;
}

/* Additional Spacing */
#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
