/*
 * Everforest Theme Colors
 * Inspired by Everforest color scheme
 */
@define-color background #1e2326;
@define-color on_background #d3c6aa;
@define-color surface #2b3339;
@define-color on_surface #d3c6aa;
@define-color surface_variant #374145;
@define-color on_surface_variant #859289;
@define-color primary #a7c080;
@define-color on_primary #1e2326;
@define-color primary_container #4f5b58;
@define-color on_primary_container #d3c6aa;
@define-color secondary #83c092;
@define-color on_secondary #1e2326;
@define-color secondary_container #4a5d5a;
@define-color on_secondary_container #d3c6aa;
@define-color tertiary #dbbc7f;
@define-color on_tertiary #1e2326;
@define-color tertiary_container #5d4f4a;
@define-color on_tertiary_container #d3c6aa;
@define-color error #e67e80;
@define-color on_error #1e2326;
@define-color error_container #5d4a4a;
@define-color on_error_container #d3c6aa;
@define-color outline #859289;
@define-color outline_variant #4a5d5a;
@define-color surface_container_low #1a1f22;
@define-color surface_container #374145;
@define-color surface_container_high #424e52;
@define-color surface_container_highest #4d595d;
@define-color surface_bright #5a6569;
@define-color surface_dim #161b1e;
@define-color scrim #000000;
@define-color shadow #000000;
@define-color inverse_surface #d3c6aa;
@define-color inverse_on_surface #374145;
@define-color inverse_primary #4f5b58;
@define-color primary_fixed #a7c080;
@define-color on_primary_fixed #1e2326;
@define-color primary_fixed_dim #93b074;
@define-color on_primary_fixed_variant #3e4a47;
@define-color secondary_fixed #83c092;
@define-color on_secondary_fixed #1e2326;
@define-color secondary_fixed_dim #73b086;
@define-color on_secondary_fixed_variant #394d4a;
@define-color tertiary_fixed #dbbc7f;
@define-color on_tertiary_fixed #1e2326;
@define-color tertiary_fixed_dim #c7a873;
@define-color on_tertiary_fixed_variant #4c4039;
@define-color red #e67e80;
@define-color green #a7c080;
@define-color yellow #dbbc7f;
@define-color blue #7fbbb3;
@define-color magenta #d699b6;
@define-color cyan #83c092;
@define-color white #d3c6aa;