/*
 * GTK Colors for Everforest Theme
 */

@define-color accent_color #93b074;
@define-color accent_fg_color #1e2326;
@define-color accent_bg_color #93b074;
@define-color window_bg_color #161b1e;
@define-color window_fg_color #d3c6aa;
@define-color headerbar_bg_color #161b1e;
@define-color headerbar_fg_color #d3c6aa;
@define-color popover_bg_color #161b1e;
@define-color popover_fg_color #d3c6aa;
@define-color view_bg_color #2b3339;
@define-color view_fg_color #d3c6aa;
@define-color card_bg_color #2b3339;
@define-color card_fg_color #d3c6aa;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;