@import 'colors.css';

/* Main Colors */
@define-color background @surface_container;
@define-color foreground @foreground;
@define-color battery-warning-color #ff875a;
@define-color battery-critical-color #ff4545;

/* Base Styling */
* {
    font-family: 'JetBrainsMono Nerd Font Propo';
    font-weight: bold;
    min-height: 0;
    border: 1px solid transparent;
    font-size: 101%;
}

/* Window Styling */
window#waybar {
    background: @background;
    border-radius: 5px;
    color: @foreground;
    border-color: #3E4142;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Tooltip Styling */
tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label {
    color: @foreground;
}

/* Workspaces Styling */
#workspaces {
    padding: 4px 2px;
    opacity: 1;
    background-color: @background;
}

#workspaces button {
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.1s linear;
}

#workspaces button.persistent {
    color: alpha(@foreground, 0.1);
    transition: all 0.1s linear;
}

#workspaces button.empty {
    color: @foreground;
    opacity: 0.3;
}

#workspaces button:hover {
    color: @foreground;
    background: none;
    border-radius: 10px;
    opacity: 0.6;
}

#workspaces button.active {
    /* color: #a6e3a1; */
    background-color: alpha(@primary_fixed_dim, 0.8);
    color: @on_primary_fixed;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.1s linear;
    min-width: 30px;
    /* background-color: rgba(166, 227, 161, 0.1); */
}

#workspaces button.urgent {
    color: #ff0000;
}

/* Battery Indicator */
@keyframes blink {
    to {
        background-color: @background;
        color: @foreground;
    }
}

#battery {
    color: @foreground;
}

#battery.critical:not(.charging):not(.plugged) {
    animation: blink 0.5s linear infinite alternate;
    color: @battery-critical-color;
}

#battery.warning:not(.charging) {
    color: @battery-warning-color;
}

/* Module Styling */
#custom-pacman,
#custom-swaync,
#custom-wlogout,
#custom-wallpaper_change,
#custom-menu,
#custom-separator,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#idle_inhibitor,
#backlight {
    background: @background;
    opacity: 1;
    padding: 10px 5px 10px 5px;
    margin: 0 0 0 12px;
}

#custom-separator {
    padding: 0;
}

/* Temperature Warning */
#temperature.critical {
    color: #e92d4d;
}

/* Additional Spacing */
#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
